/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=vietnamese');

.font-header {
  font-size: 1.0rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
}

.dropdown-item {
  font-size: 0.92rem !important;
  text-transform: capitalize !important;
}