//- nav.navbar.navbar-expand-xl.navbar-light.fixed-top.border-bottom.shadow-sm.font-header(style='background-color: #ffffff;')
//-   .container
//-     a.navbar-brand(href='/', style='font-size: 1.5rem;') CRUD
//-     button.navbar-toggler.mr-auto(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
//-       span.navbar-toggler-icon
//-     #navbarSupportedContent.collapse.navbar-collapse.mr-4
//-     a.nav-link(href='https://anitrendz.net/')
//-       | bxh
//-     a.navbar-brand(href='/user/')
//-       img.rounded-circle(style='border: 1px solid #d3d3d3;', src='/img/akari.jpg', alt='logo', width='50px', height='50px')

nav.navbar.navbar-expand-xl.navbar-light.fixed-top.border-bottom.shadow-sm.font-header(style='background-color: #ffffff;')
  .container
    a.navbar-brand(href='/', style='font-size: 1.5rem;') DEMO MongoDB Nhom 1
    button.navbar-toggler.mr-auto(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse.mr-4
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='/')
            | TRANG CHỦ
        li.nav-item
          a.nav-link(href='/search')
            | tìm kiếm
      a.navbar-brand(href='/user/')
        img.rounded-circle(style='border: 1px solid #d3d3d3;', src='/img/akari.jpg', alt='logo', width='50px', height='50px')